.home-wrapper {
    width: 100%;

    .container {
        width: 70%;
        margin: auto;


        .heading {
            font-size: 60px;
            text-align: center;
            color: #fff;
            margin: 150px 0px 30px 0px
        }
    }
}