body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #5d40ae;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

a {
    text-decoration: none;
}